<template>
    <div class="post_list list-v" >
        <div class="font-xl font-w-b color-b text-center list-bg-title" >List of actions</div>
        <div :class="{'scrollable':getListActions.length > 4 }">
            <div class="list-bg-container"  v-if="getListActions.length" v-for="(listAction, index) of getListActions">
            <ActionContainer  :ref="`actionContainer_${index}`" :listAction="listAction"/>
        </div>
        </div>
        
    </div>
</template>


<script>
import ActionContainer from '../common/ActionContainer.vue';
import {mapGetters} from 'vuex';

export default {
    name: "ListOfActions",
    computed:{
        ...mapGetters({
            getListActions: 'getListActions'
        })
    },
    components:{
        ActionContainer
    },
    mounted(){
        console.log({
            getListActions:this.getListActions
        })
    }
}

</script>
