<template>
    <div class="list-v">
        <div class="font-xl font-w-b color-w  text-center"> Sortable Post List</div>
        <div v-for="(post,index) of getPosts">
            <PostContainer :ref="`post_${index}`" :showUp="index > 0" :showDown="index < getPosts.length - 1" :post="post" @up="emitEvent('up',index)" @down="emitEvent('down',index)" :key="index"/>
        </div>
    </div>
</template>


<script lang="ts">
import { defineComponent } from "vue";
import { FilteredPosts } from '~/types';
import PostContainer from '../common/PostContainer.vue'
export default defineComponent( {
    name: "SortablePostList",
    props: ['posts'],
    computed:{
        getPosts():Array<FilteredPosts>{
            return this.posts
        }
    },
    methods: {
        emitEvent(action:string, index:number){
            action === 'up' ? this.$emit('moveUp', index) : this.$emit('moveDown', index)
        }
    },
    components: {
        PostContainer
    }
    
})

</script>