@import './themes.scss';

body{
    // set body styling
    height:100vh;
    background-color:  $bg-white;
    background-image: linear-gradient( -8deg,  $bg-white 0%,  $bg-white 80%, $bg-purple 60%, $bg-purple 60%);
    background-repeat: no-repeat;
}


.color-w{
  color: white
}

.color-g{
  color: grey;
}

.font{
  &-s{
    font-size:0.2rem;
  }

  &-m{
    font-size: 1.2rem;
  }

  &-l{
    font-size:1.5rem;
  }

  &-xl{
    font-size:2.5rem;
  }
}


.font-w{
 &-b{
  font-weight: 700;
 }
}

.text-center{
  text-align:center;
}

.fa-caret-down {
  color: $bg-purple !important;


  &:hover{
    cursor: pointer;
  }
}

.fa-caret-up{

  color: $bg-purple !important;
  &:hover{
    cursor:pointer;
  }
}


.btn{
  &:hover{
      cursor: pointer;
  }
  &-color{
      background-color: #3CB371;
      color: rgb(68, 68, 68);
      padding: 10px;
      border-radius: 5px;
  }
}

