.vertical-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-center {
    display: flex;
    justify-content: center;
}

.vertical-evenly {
    display: flex;
    justify-content: space-evenly;
}

.horizontal-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

