@import './themes.scss';


.list-v{
    max-width: 500px;
    width: 100%;

    & > div{
        min-height: 100px;
    }
}


.list-bg-title{
    background-color:$bg-post-container;
    border-radius: 5px 5px 0px 5px;
}



.list-bg-container{
    background-color:$bg-title-white;
    border-radius: 0px 5px 5px 5px;
}



// list-action-title{
//     background-color:
// }