.post_container {
    width:100%;
    height: 100px;
    margin: 20px 0px;
    background-color:rgb(255, 255, 255);
    padding:10px;
    border-radius: 5px;
    box-shadow: -3px 3px 5px 1px grey;
}


.post-title-index{
    color:grey
}


.scrollable{
    height: 600px;
    overflow-y: scroll;
}