<template>
    <div class="post_container vertical-space">
        <div class="font-m">
         Moved post {{listAction.postId}} from  index {{listAction.prevIndex}} to index {{listAction.nextIndex}}
        </div>
        <div  @click="handleClickHistory">
            <Button />
        </div>
    </div>
</template>

<script>
import Button from './Button.vue'
import {mapGetters, mapActions} from 'vuex'
export default {
    props: ['listAction'],
    computed: {
        ...mapGetters({
            getPosts: 'getPosts',
            getListActions: 'getListActions'
        }),
        getArrayActions() {
            return this.commitedAction.length ? this.commitedAction  : []
        }
    },
    methods: {
        ...mapActions({
            setPosts: 'setPosts',
            setTimeTravel: 'setTimeTravel'
        }),
        handleClickHistory() {
            // sort posts by the postIdsOrder on listAction, add filter(boolean) to filter all undefines occurs from .map
            const sortedPosts =  this.listAction.postIdsOrder.map(id => this.getPosts.find(post => post.id === id)).filter(Boolean);
            const listActionCurrentIndex = this.listAction.index + 1
            const listActions = this.getListActions.slice(0, listActionCurrentIndex)
            this.setPosts(sortedPosts)
            this.setTimeTravel(listActions)
        }
    },
    components:{
        Button
    }
}
</script>