<template>
    <div class="post_container vertical-space">
        <div class="font-l font-w-b post-title-index">
            Post {{ post.id }}
        </div>
        <div class="horizontal-center">
            <span v-if="showUp" @click="handleClick('up')">
                <fa :icon="['fass', 'caret-up']" />
            </span>
            <span v-if="showDown" @click="handleClick('down')">
                <fa :icon="['fass', 'caret-down']" />
            </span>
        </div>
    </div>
</template>

<script>
export default {
    props: ['post', 'showUp', 'showDown'],
    computed: {

    },
    methods: {
        handleClick(action) {
            this.$emit(action === 'up' ? 'up' : 'down')
        }
    }
}
</script>