<template>
    <div class="vertical-evenly">
        <SortablePostList :posts="getPosts" @moveUp="(index) => handleAction(index, 'up')"
            @moveDown="(index) => handleAction(index, 'down')" />
        <ListOfActions />

    </div>
</template>
<script lang="ts">
import { mapGetters, mapActions } from 'vuex';
import { defineComponent } from "vue";
import ListOfActions from './PostLists/ListOfActions.vue';
import SortablePostList from './PostLists/SortablePostList.vue';
import { FilteredPosts , Action} from '~/types';

export default defineComponent({
    name: 'MainContainer',
    computed: {
        ...mapGetters({
            getPosts: 'getPosts'
        })
    },
    methods: {
        ...mapActions({
            setPosts: 'setPosts',
            setListActions: 'setListActions'
        }),

        handleAction(index: number, action: Action) {
            const indexToSet = action === 'up' ? index - 1 : index + 1
            const clonePosts = JSON.parse(JSON.stringify(this.getPosts))
            
            const currentPostId = clonePosts[index].id
            const prevIndex = index;
            const nextIndex = indexToSet;

            
            clonePosts[index] = clonePosts.splice(indexToSet, 1, clonePosts[index])[0];

            this.setPosts(clonePosts)
            this.setListActions({
                postId: currentPostId,
                prevIndex,
                nextIndex,
                postIdsOrder : clonePosts.map((post:FilteredPosts) => post.id)
            })
        },

    },

    components: { SortablePostList, ListOfActions }
})
</script>
