<template>
  <div class="main-page"> 
    <MainContainer/>
  </div>
 </template>

<script lang="ts">
import Vue from 'vue'
import { getPosts } from '~/api';
import {mapActions} from 'vuex'
import { Post, FilteredPosts } from '~/types';
export default Vue.extend({
  name: 'IndexPage',
    methods:{
      ...mapActions({
        setPosts: 'setPosts'
      })
    },
    async fetch() {
        const posts = await getPosts()
        console.log(this.$store.getters)
        const filtered = posts.reduce((acc:Array<FilteredPosts>, curr:Post) => {
          const {id,userId, title, body} = curr
          acc.push({
            id,
            userId,
            title,
            body,
            index:id
          })
          return acc
        }, []).slice(0,5)
        this.setPosts(filtered)

    },
})
</script>
